.filter{
    border: 2px solid whitesmoke;
    width: 15rem;
    height: 15rem;
    align-items: right;
    color: white;
    background-color: black;
    margin-left: 75%;
    position: fixed;
}
.state{
    padding: 10px;
    margin: 20px;
    text-align: left;
    width:200px;
    overflow: hidden;
}
.city{
    padding: 10px;
    width:200px;
    margin: 20px;
    overflow: hidden;
    text-align: left;
}
.info{
    align-items: left;
    display: flex;
    flex-direction: column ;
    box-sizing: border-box;
}
.info ul{
    list-style-type: none;
    color:azure
}