body{
  background-color:gray ;
}
.home {
    padding: 20px;
    margin: 30px auto;
    text-align: center;
  }
.nav{
  margin:30px;
  margin-bottom: 0px;
  top: 0;
  width: 90%;
  height: 4rem;
  display: flex;
  padding: 0px 10px;
  align-items: center;
  color:white;
} 
.nav button{
    text-decoration: none;
    background-color: gray ;
    margin: 10px 10px;
    border: 0px;
    font-size: 30px;
} 
.nav div{
    margin-right: 40px;
    align-self: right;
}
.btn{
  align-content: right;
}